body {
}
.headline-txt{
    font-weight:300;
    line-height:1.2;
    font-size:1.63333rem;
}
.published-date{
     color:#0094ff;
 }
 .cnn-descrn{

 }
 a.hover{
     color:#c00;
 }
.cnn-select{

}
.top-heading{

}
